.attribution { font-size: 11px; text-align: center; } /*texto do final */

body {
    width: 1440px;
    
}

main {
    background-color: white;
    padding:120px 120px 120px 440px;
    
}
td.result { 
    /* lado esquerdo da tabela */
    display:inline-block;
    padding: 30px 100px 30px 100px;
    background-image:linear-gradient(to bottom, hsl(240, 73%, 65%), hsl(228,45%,44%));
    border-radius: 20px;
    font-family: "Kumbh Sans";
    
}
td.summary { 
    /* lado direito da tabela */
    display:inline-flexbox;
    padding: 30px 100px 30px 100px;
    background-image:linear-gradient(to right, rgb(252, 252, 252), rgba(223, 231, 231, 0.97));
    border-radius: 20px;
    font-family: "Kumbh Sans";
    
}
div.score {
    border-radius: 50%; /* Use 50% para criar um círculo perfeito */
    border: 2px solid rgb(188, 177, 177);
    padding: 20px;
    font-family: "Kumbh Sans";
    display: flex;
    align-items: center;
}    

div.score a.highlighted{
    color: whitesmoke;
    font-size: 70px;
    font-family: "Kumbh Sans";
}
/*.score a.highlighted {
    Estilos para destacar o valor "76" 
}*/
  
.highlighted {
    color: whitesmoke;
    font-size: 30px;
    font-family: "Kumbh Sans";
    display: flex;
    align-items: center;
    
    /* Estilos para destacar o texto "Great"*/ 
}

.result h1{
    color: white;
    font-size: 20px;
    font-family: "Kumbh Sans";
}
.summary h1{
    color: black;
    font-size: 30px;
    font-family: "Kumbh Sans";

}

button {
    background-color:hsl(240, 3%, 18%);
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    font-family: "Kumbh Sans";
}

ul {
    list-style-type: none;
    padding: 0; /* Remover o espaçamento interno da lista */
}

.summary {
    text-align: left; /* Alinhar à esquerda */
}
  
.summary li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}
  
.summary li .iconReaction,
.summary li .iconMemory,
.summary li .iconVerbal,
.summary li .iconVisual {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
  /* Estilos específicos para cada ícone */
.summary li .iconReaction {
    background-image: url(./images/icon-reaction.svg);
    border-radius: 10px;
}
  
.summary li .iconMemory {
    background-image: url(./images/icon-memory.svg);
}
  
.summary li .iconVerbal {
    background-image: url(./images/icon-verbal.svg);
}
  
.summary li .iconVisual {
    background-image: url(./images/icon-visual.svg);
}