.attribution { font-size: 11px; text-align: center; } /*texto do final */

body {
    width: 1440px;
    
}

main {
    background-color: white;
    padding:120px 120px 120px 440px;
    
}

 /* --------- lado esquerdo da tabela --------- */
td.result { 
    /* lado esquerdo da tabela */
    width: 200px;
    height: 300px;
    background-image:linear-gradient(to bottom, hsl(240, 73%, 65%), hsl(228,45%,44%));
    border-radius: 20px;
    font-family: "Kumbh Sans";
    font-size: 30px;
    position: relative; /*definindo como container principal */
    z-index: 2; /* controla a sobreposicao */
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.score {
    margin:auto;
    border-radius: 50%; /* Use 50% para criar um círculo perfeito */
    background-image: linear-gradient(to bottom, rgba(76, 12, 239, 0.9), hsl(228,45%,44%));
    padding: 20px;
    font-family: "Kumbh Sans";
    color:whitesmoke;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}    

.score a.highlighted{
    color: whitesmoke;
    font-size: 70px;
    font-family: "Kumbh Sans";
    justify-content: center;
}
  
.highlighted {
    color: whitesmoke;
    font-size: 30px;
    font-family: "Kumbh Sans";
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.score-description {
    color: whitesmoke;
    font-size: 16px;
    font-family: "Kumbh Sans";
    display: flex;
    align-items: center;
    justify-content: center;
}

.result h1{
    color: rgba(223, 222, 215, 0.864);
    font-size: 20px;
    font-family: "Kumbh Sans";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

 /* --------- lado direito da tabela --------- */

.summary h1{
    color: black;
    font-size: 30px;
    font-family: "Kumbh Sans";

}

td.summary { 
    /* lado direito da tabela */
    display:inline-flexbox;
    width: 200px;
    height: 300px;
    background-image:linear-gradient(to right, rgb(252, 252, 252), rgba(223, 231, 231, 0.97));
    border-radius: 20px;
    font-family: "Kumbh Sans";
    position: absolute;
    top: 19%;
    left: 80%;
    transform: translateX(-80%);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

button {
    background-color:hsl(240, 3%, 18%);
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    font-family: "Kumbh Sans";
}

ul {
    list-style-type: none;
    padding: 0; /* Remover o espaçamento interno da lista */
}

.summary {
    text-align: left; /* Alinhar à esquerda */
}
  
.summary li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}
  
.summary li .iconReaction,
.summary li .iconMemory,
.summary li .iconVerbal,
.summary li .iconVisual {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
  /* Estilos específicos para cada ícone */
.summary li .iconReaction {
    background-image: url(./images/icon-reaction.svg);
    border-radius: 10px;
}
  
.summary li .iconMemory {
    background-image: url(./images/icon-memory.svg);
}
  
.summary li .iconVerbal {
    background-image: url(./images/icon-verbal.svg);
}
  
.summary li .iconVisual {
    background-image: url(./images/icon-visual.svg);
}